In [1]:
import pandas as pd
df = pd.read_csv('itineraries.csv')

In [3]:
df

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isRefundable,isNonStop,baseFare,totalFare,seatsRemaining,totalTravelDistance,segmentsAirlineName
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,True,217.67,248.60,9,947.0,Delta
1,79eda9f841e226a1e2121d74211e595c,2022-04-16,2022-04-17,ATL,BOS,PT2H38M,False,True,217.67,248.60,7,947.0,JetBlue Airways
2,c38a6e4b807d15541e5866676febcbec,2022-04-16,2022-04-17,ATL,BOS,PT4H46M,False,False,213.02,252.60,1,947.0,United||United
3,cb345693479e84838dfaac346b8e8d6a,2022-04-16,2022-04-17,ATL,BOS,PT5H39M,False,False,183.00,290.58,0,NaN,Spirit Airlines||Spirit Airlines
4,676e25bb0ec021d335241354b668c674,2022-04-16,2022-04-17,ATL,BOS,PT6H2M,False,False,260.47,302.11,1,956.0,American Airlines||American Airlines
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11111995,2b80987af62b6d5cd31f8ffd8c871583,2022-08-11,2022-09-13,SFO,BOS,PT8H51M,False,False,273.49,317.60,5,2751.0,Delta||Delta
11111996,0ea8a682bc37360d008e9fed75219ec9,2022-08-11,2022-09-13,SFO,BOS,PT5H47M,False,True,325.58,364.60,9,2698.0,United
11111997,8568054af4498ae302535a02f36cbcb2,2022-08-11,2022-09-13,SFO,CLT,PT13H45M,False,False,137.67,181.70,9,2746.0,United||United||United
11111998,dc85f5f815be77dcf8236b1b4a172da8,2022-08-11,2022-09-13,SFO,CLT,PT8H20M,False,False,183.26,220.61,9,2516.0,Delta||Delta
11111999,1d233041bd3ff65086b5d92b5b47281a,2022-08-11,2022-09-13,SFO,CLT,PT8H9M,False,False,188.84,226.60,9,2439.0,United||United

In [4]:
df2 = df.loc[:, df.columns != 'Unnamed: 0'] #removes extra column

In [10]:
#df2.to_csv('itineraries.csv', index=False)

In [5]:
df2

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isRefundable,isNonStop,baseFare,totalFare,seatsRemaining,totalTravelDistance,segmentsAirlineName
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,True,217.67,248.60,9,947.0,Delta
1,79eda9f841e226a1e2121d74211e595c,2022-04-16,2022-04-17,ATL,BOS,PT2H38M,False,True,217.67,248.60,7,947.0,JetBlue Airways
2,c38a6e4b807d15541e5866676febcbec,2022-04-16,2022-04-17,ATL,BOS,PT4H46M,False,False,213.02,252.60,1,947.0,United||United
3,cb345693479e84838dfaac346b8e8d6a,2022-04-16,2022-04-17,ATL,BOS,PT5H39M,False,False,183.00,290.58,0,NaN,Spirit Airlines||Spirit Airlines
4,676e25bb0ec021d335241354b668c674,2022-04-16,2022-04-17,ATL,BOS,PT6H2M,False,False,260.47,302.11,1,956.0,American Airlines||American Airlines
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11111995,2b80987af62b6d5cd31f8ffd8c871583,2022-08-11,2022-09-13,SFO,BOS,PT8H51M,False,False,273.49,317.60,5,2751.0,Delta||Delta
11111996,0ea8a682bc37360d008e9fed75219ec9,2022-08-11,2022-09-13,SFO,BOS,PT5H47M,False,True,325.58,364.60,9,2698.0,United
11111997,8568054af4498ae302535a02f36cbcb2,2022-08-11,2022-09-13,SFO,CLT,PT13H45M,False,False,137.67,181.70,9,2746.0,United||United||United
11111998,dc85f5f815be77dcf8236b1b4a172da8,2022-08-11,2022-09-13,SFO,CLT,PT8H20M,False,False,183.26,220.61,9,2516.0,Delta||Delta
11111999,1d233041bd3ff65086b5d92b5b47281a,2022-08-11,2022-09-13,SFO,CLT,PT8H9M,False,False,188.84,226.60,9,2439.0,United||United